<div class="pusher" id="chatroom">
  <% if @users.present? %>
    <div class="ui vertical menu">
      <%= render @users %>
    </div>
  <% else %>
    <div class="main">
      <h3>Start chatting on </h3>
      <%= render 'layouts/logo' %>
    </div>
  <% end %>
</div>
