.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: white;

  .logo {
    font-size: 2rem;
    color:#ee0979;
    text-align: center;
    margin-bottom: 1rem;

    i {
      font-size: 4rem;
    }
  }

  > small {
    margin-top: 2rem;

    a {
      color: #ee0979;
    }
  }

  > h3 {
    margin-top: -5rem;
    color: #ee0979;
  }

  .ui.cards {
    width: 250px !important;

    .card{
      box-shadow: none;

      .dimmable.image,
      .dimmable.image > div,
      .dimmable.image > img {
        border-radius: 2rem !important;
        width: 236px !important;
        height: 236px !important;
        object-fit: cover !important;
      }

      .content,
      .extra.content {
        border-top: none;
        padding: 1rem 0.5rem;

        &:after {
          display: none;
        }

        .description {
          span {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }

      .extra.content {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}