<div class="ui top attached menu status-bar">
  <div class="ui left icon item">
    <i class="wifi icon"></i>
  </div>
  <div class="ui right icon item">
    <i class="battery full icon"></i>
  </div>
</div>
<% if logged_in? %>
<div class="ui top attached menu app-nav-bar">
  <div class="ui left icon item">
    <i class="users icon"></i>
  </div>
  <div class="ui pointing dropdown link top right icon item">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">
      <div class="header">More Options</div>
        <a class="item" href="/users/<%= current_user.id %>">My Profile</a>
        <a class="item" href="/users/<%= current_user.id %>/edit">Edit Profile</a>
        <div class="divider"></div>
        <%= link_to "Log Out", logout_path, method: :delete, class: "item" %>
    </div>
  </div>
</div>
<% end %>